/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --PRIMARY: #cbf031;
  --GREEN: #01cc65;
  --YELLOW: #fee145;
  --BLUE: #3463e5;
  --WHITE: #ffffff;
  --DARK: #0c0f03;
  --GREY: #4a4d45;
}

/* FONTS */
.h2-explore,
#section3-h2,
section p,
.section2 h1,
.section2 p,
button,
.explore h3,
.explore p,
.for h4,
.for p,
.section4-h2,
#choose,
#selected,
#select,
#students,
#price,
#duration,
#title,
#instructor,
#all,
#section5-h2,
#section5-p,
ul,
.review p,
.review span,
.writer,
#liz,
.section6-h2,
.sect7-p,
.image p,
.section8 p,
#logo-p,
.platform h3,
.platform p, .rated {
  font-family: "DM Sans", sans-serif;
}

.h2-explore,
#section3-h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  font-style: normal;
}
/* HEADER */
body {
  margin: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section article";
}

.article1 {
  margin-top: 11px;
}

#search {
  margin-right: 1rem;
}

.section1 {
  display: flex;
  gap: 5px;
}

section p {
  padding-top: 6px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}

/* SECTION 1 */
#cent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section2 {
  margin-top: 3rem;
}
.section2 h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}

.section2 p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}

button {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  border-radius: 33px;
}

#button1 {
  background-color: var(--PRIMARY);
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

#button2 {
  background-color: var(--WHITE);
  margin-top: 10px;
  padding: 0.5rem 2rem;
}

.section2-1 {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.section2-1 img {
  max-width: 100%;
  max-height: auto;
}

/* BASE */
.base {
  transform: rotate(-3deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  min-height: 88px;
  background-color: var(--DARK);
  margin-bottom: 5rem;
}

.vision,
.greenish {
  transform: rotate(3deg);
}

/* SECTION 2 */
.h2-explore {
  text-align: center;
  margin-bottom: 2rem;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.2rem;
  margin-bottom: 5rem;
}

.explore {
  border: 1px solid var(--DARK);
  padding: 1.5rem;
  max-width: 270px;
  min-height: 226px;
  border-radius: 12px;
}

.explore img {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

.explore h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.explore p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: var(--GREY);
  margin-top: 2px;
}

/* SECTION 3 */
#section3-h2 {
  margin-bottom: 2rem;
  max-inline-size: 19ch;
}
.upskill img {
  max-width: 100%;
  height: auto;
}
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--GREY);
}

hr {
  border: 0.01px solid var(--DARK);
  max-width: 55px;
  border-radius: 0.5px;
  margin: 0.2rem 0 0.2rem 0;
}

.for p {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 1.3rem;
}

/* SECTION 4 */
.section4-h2 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

#choose {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 2rem;
  color: var(--GREY);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

#selected,
#select {
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--DARK);
}

#selected {
  background-color: var(--PRIMARY);
}

#select {
  background-color: var(--WHITE);
}

.courses {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.course img {
  max-width: 100%;
}

.course {
  border: 1px solid var(--DARK);
  padding: 1rem;
  max-width: 370px;
  min-height: 480px;
  border-radius: 12px;
}

#duration {
  margin-top: 2rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--GREY);
  padding-bottom: 0.5rem;
}

#title {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: var(--DARK);
}

#instructor,
#instructor span {
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

#instructor {
  font-weight: 400;
  color: var(--GREY);
  padding-bottom: 0.5rem;
}

#instructor span {
  font-weight: 500;
  color: var(--DARK);
}

.rating {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section p";
}

.students {
  display: flex;
  gap: 1.5rem;
}

#students {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--GREY);
  padding-top: 0.6rem;
}

.rate{
  display: flex;
  gap: 0.5rem;
  padding: 6px 1rem;
  border: 1px solid #FFFDF0;
  border-radius: 1rem;
  background-color: #FFFDF0;
}

.rated{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--DARK);
  padding-top: 0.2rem;
}

#price {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--DARK);
}

.all {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#all {
  padding: 0.5rem 4rem;
  margin-left: inherit;
  background-color: var(--PRIMARY);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  color: var(--DARK);
  margin-bottom: 3rem;
}

/* SECTION 5 */
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section5-h2 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

#section5-p {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: var(--GREY);
}

ul {
  padding: 2rem;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

li {
  padding-bottom: 1.2rem;
}

.group3 img {
  max-width: 100%;
  max-height: auto;
}

/* SECTION 5 desktop */
@media screen and (min-width: 992px) {
  .section3,
  .section5 {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }
}

/* SECTION 6 */
.section6-h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

#review1 {
  transform: rotate(-3deg);
}

#review3 {
  transform: rotate(-2deg);
}

@media screen and (min-width: 992px) {
  #review2 {
    box-shadow: 10px 10px var(--DARK);
  }
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-top: 2rem;
}

.review {
  border: 1px solid var(--DARK);
  padding: 1rem;
  max-width: 21.188rem;
  min-height: 26.125rem;
  border-radius: 12px;
}

#quote {
  max-width: 100%;
  max-height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.review p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  color: var(--GREY);
  padding-bottom: 1rem;
}

#bold {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  color: var(--DARK);
}

.writer {
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: var(--DARK);
}

#liz {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--GREY);
}

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
.scroll {
  border: 1px solid black;
  max-width: 10px;
  max-height: 10px;
  border-radius: 50%;
  padding: 4px;
}
.scrolling {
  border: 1px solid black;
  max-width: 1.25rem;
  max-height: 1.25rem;
  border-radius: 35%;
  padding: 8px 4px;
  background-color: var(--PRIMARY);
}

/* SECTION 7 */
.sector7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-bottom: 5rem;
}

.maind {
  border: 1px solid var(--WHITE);
  border-radius: 1.5rem;
  background-color: var(--PRIMARY);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1170px;
  min-height: 432px;
}

.sect7-p {
  color: var(--DARK);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

#alls {
  padding: 0.8rem 4rem;
  margin-left: inherit;
  background-color: var(--WHITE);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  color: var(--DARK);
  margin-bottom: 2rem;
}
.bens {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .bens {
    display: flex;
    gap: 1rem;
  }
}
.image {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  min-height: 100%;
}

.image p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.image img {
  object-fit: contain;
}

/* SECTION 8 */
.sectiont {
  display: grid;
  grid-template-columns: 1fr;
}

.one {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.one p {
  color: var(--GREY);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-inline-size: 29ch;
}

.socials {
  border: 1px solid var(--DARK);
  border-radius: 50px;
  padding: 10px;
  margin: 4px;
}

#socials1 {
  background-color: var(--PRIMARY);
  box-shadow: 3px 3px var(--DARK);
}

.two {
  display: flex;
  gap: 0.3rem;
}

.two p {
  color: var(--DARK);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 0.3rem;
}

.second {
  margin-top: 1rem;
}

.platform {
  padding-bottom: 1.5rem;
}
.platform h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--DARK);
}

.platform p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(var(--GREY));
}

/* FOOTER */
#footer {
  max-width: 100%;
  border: 1px solid var(--DARK);
  margin-bottom: 1rem;
}
footer p {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--GREY);
}

/* SECTION 8  desktop*/
@media screen and (min-width: 992px) {
  .sectiont {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "div article";
  }
  .second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "article article article";
  }
}
